<h3>Inactive Users</h3>
<p>
  {{inactiveTimes}} times was inactive
</p>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users; let i = index">
    {{ user }} | <a href="#" (click)="onSetToActive(i)">Set to Active</a>
  </li>
</ul>
