<img [ngClass]="{'red': inputvalue.length > 0}" *ngIf="inputvalue.length > 0; else sorry" [src]="inputvalue"
  alt="inputvalue">

<ng-template #sorry>
  <h1 [ngClass]="{'blue': inputvalue.length === 0}">Sorry</h1>
</ng-template>
