div {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h3 {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #cccccc;
}

img {
  width: 80%;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(#333333, .1) 0px 5px 10px rgba(#333333, .3);
}
