<form>
  <label for="name">Car Name</label>
  <input type="text" name="name" #nameInput>
  <label for="image">Image</label>
  <input type="text" name="image" [(ngModel)]="image">
  <button (click)="addCartoList()">Add</button>
</form>
