label {
  font-weight: 200;
  color: burlywood;
  font-size: 20px;
}

input {
  margin: 10px;
  border-radius: 2px;
  border: transparent 1px solid;
  background: #e7e2e2;
  outline: none;
  padding: 5px 10px;
  color: #333333;
}

button {
  color: #ffffff;
  background: tomato;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  transition: box-shadow .4s ease;
}

button:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.12), 0 3px 7px rgba(0, 0, 0, 0.24);
}

button:focus {
  outline: none;
}
