<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!-- <input type="text" class="form-control" (change)="consoleThis($event)" [(ngModel)]="newServerName"> -->
    <input type="text" class="form-control" #serverNameInput>
    <label>Server Content</label>
    <!-- <input type="text" class="form-control" (change)="consoleThis($event)" [(ngModel)]="newServerContent"> -->
    <input type="text" class="form-control" (change)="consoleThis($event)" #serverContentInput>
    <br>
    <button class="btn button btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>
    <button class="btn button btn-primary" (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
  </div>
</div>
