.start {
  background: rgb(149, 243, 8);
  color: #a83f3f;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 3px;
  border-radius: 25px;
  padding: 5px 20px;
  border: none;
  margin: 0px 3px;
  outline: none;
}


.stop {
  background: #a83f3f;
  color: rgb(149, 243, 8);
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 3px;
  border-radius: 25px;
  padding: 5px 20px;
  border: none;
  margin: 0px 3px;
  outline: none;
}

.reset {
  background: #9436e0;
  color: rgb(243, 208, 8);
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 3px;
  border-radius: 25px;
  padding: 5px 20px;
  border: none;
  margin: 0px 3px;
  outline: none;
}

button:focus {
  outline: none;
}


.game-number {
  color: tomato;
  font-weight: bold;
  font-size: 40px;
  display: block;
  text-align: center;
}
